
.physics_mod_cache/

bluemap/

backups/

XaeroWaypoints_BACKUP240807/

saves/

crash-reports/

data/

modernfix/

logs/

cloth_local/

screenshots/

xaero/

mods/.connector/

mods/.index/

immersive_paintings_cache/

etched-sounds/cache.json

emi.json

fancymenu_data/last_world.fmdata

config/fabric/indigo-renderer.properties

Distant_Horizons_server_data/

showdown/
